@charset "utf-8";

body, p, h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0;
}
ul, li, dl, dt, dd{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration:none;
    color:#222;
}
.cf:after{
    content:"";
    display:block;
    clear:both;
}
body{
    font-family: "NotoSans", "seoulhangang_smart_bregular","HanNa11", sans-serif;
}

/*START*/

/*header*/
#header{
    position:fixed;
    background:#2F2E34;
    z-index:2;
    width:100%;
}
#header h1{
    font-size:32px;
    padding:32px 0;
    padding-left:20px;
}
#header h1 a{
    color:#fff;
}

/*menu*/
.menu{
    position:absolute;
    top:30px;
    right:0;
}
.menu li{
    float:left;
    width:100px;
    height:30px;
    background:#58575c;
    text-align: center;
    line-height: 30px;
    border:1px solid #000;
    margin:0 10px;
}
.menu li a{
    color:#fff;
    display:block;
}

/*menu*/


/*menu_hover*/

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 36px 15px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
}
.btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;

}
.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}
.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  animation: stripe-slide 12s infinite linear forwards;
}

.btn--radius {
  border-radius: 36px;
}

/*menu_hover*/


/*header*/

/*container*/
#fullpage{}

/*firstPage*/
#fullpage #section0 .fp-tableCell{

    background:url(../images/mainBanner.png)no-repeat;
    background-position:center center;
    height:880px;
    width:100%;
    background-size:cover;
    
    text-indent: -9999px;
}
/*firstPage*/

/*secondPage*/
#section1{}
.fp-controlArrow.fp-prev{
    width:15px;
    height: 28px;
    background:url(../images/prev_btn.png) no-repeat;
    background-size:100% 100%;
    background-position: center center;
    border-width: 0;
    border-color:hidden;
    left:45%;
    top:95%;
}
.fp-controlArrow.fp-next{
    width:15px;
    height: 28px;
    background:url(../images/next_btn.png) no-repeat;
    background-size:100% 100%;
    background-position: center center;
    border-width: 0;
    border-color:hidden;
    right:45%;
    top:95%;
}
.slide{}
/*slide01*/
.slide01{
    background:#f5f5f5 url(../images/background/1_01bg.png) no-repeat;
    background-position:center bottom;
    background-size:140%;
    position:relative;
}
.slide01 h2{
    position:absolute;
    top:120px;
    left:50%;
    margin-left:-108px;
    font-size:34px;
}
.slide01 h2 span{
    display:block;
    width:50px;
    height: 1px;
    background:#222;
    margin:0 auto;
    margin-top: 10px;
}
.content01{
    margin-left:100px;
    margin-top:70px;
}
.slide01 h1{
    font-weight: normal;
    font-size:26px;
}
.slide01 p{
    padding:10px 0;
    font-size:14px;
    color:#b84618;
    font-weight: bold;
}
.slide01 h4{
    padding:10px 0 15px 0;
}
.table01{
    margin-left:10px;
    width:600px;
    color:#555;
    padding-top:10px;
    border-top:1px solid #222;
    border-bottom:1px solid #222;
}
.table01 dl{
    width:100%;
    vertical-align: middle;
}
.table01 dl dt{
    float:left;
    width:20%;
    height:60px;
    line-height: 60px;
    vertical-align: middle;
}
.table01 dl dd{
    float:left;
    font-size:13px;
    height:60px;
    line-height: 60px;
}
.table01 dl dd.bottle{
    background:url(../images/img_bottle.png)no-repeat;
    margin-right:20px;
}
.table01 dl dd.bottle span{
    margin-left:25px;
}
.table01 dl dd.can{
    background:url(../images/img_can.png) no-repeat;
    background-position:2px 12px;
    margin-left:15px;
}
.table01 dl dd.can span{
    margin-left:30px;
}
.table01 dl dd.char{
    line-height:25px;
    padding-top:20px;
}
/*slide01*/

/*slide02*/
.slide02{
    background:#13304c url(../images/background/1_02bg.png) no-repeat;
    background-position:center bottom;
    background-size:140%;
    position:relative;
    color:#fff;
}
.slide02 h2{
    position:absolute;
    top:120px;
    left:50%;
    margin-left:-108px;
    font-size:34px;
}
.slide02 h2 span{
    display:block;
    width:50px;
    height: 1px;
    background:#fff;
    margin:0 auto;
    margin-top: 10px;
}
.content02{
    margin-left:100px;
    margin-top:70px
}

.content02 h4{
    font-size:20px;
    margin-bottom:10px;
    color:#954402;
    padding:20px 0 10px 0;
}
.content02 h4 span{
    color:#D36A0F;
    font-size:24px;
}
.content02 p{
    font-size:15px;
    line-height: 30px;
    padding-bottom: 10px;
}
/*slide02*/

/*slide03*/
.slide03{
    background:#f2f3ee url(../images/background/1_03bg.png) no-repeat;
    background-position:center 107px;
    background-size:110%;
    position:relative;
    color:#757575;
}
.slide03 h2{
    position:absolute;
    top:120px;
    left:50%;
    margin-left:-108px;
    font-size:34px;
}
.slide03 h2 span{
    display:block;
    width:50px;
    height: 1px;
    background:#fff;
    margin:0 auto;
    margin-top: 10px;
}
.content03{
    margin-left:100px;
    margin-top:70px;
}

.content03 h3{
    line-height: 28px;
    font-size: 16px;
    padding:10px 0;
}

.content03 .secondP{
    margin-left:20px;
    padding:5px 10px;
    line-height: 30px;
    font-size:15px;
    font-weight: bold;
}
.secondP p{
    margin:10px 0;
}
.secondP p span{
    font-weight: normal;
    font-size:14px;
}
.content03 h4{
    font-size:16px;
    padding-top:15px;
}
/*slide03*/
/*secondPage*/

/*thirdPage*/
#section2{}
#section2 h2{
    position:absolute;
    top:120px;
    left:50%;
    margin-left:-62px;  
    font-size:34px;
}
#section2 h2 span{
    display:block;
    width:50px;
    height: 1px;
    background:#222;
    margin:0 auto;
    margin-top: 10px;
}
.variable{
    margin-top:9%;
}
.slick-track{
    margin:0 50px;
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width:80%;
    display:block;
}
.slick-slide {
    transition: all ease-in-out .3s;
}


.slick-dots{
    text-align: center;
    position: absolute;
    bottom: -70px;
    width: 100%;
}
.slick-dots li{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.slick-dots li.slick-active{
    background: #333;
}
.slick-dots button{
    border: 0;
    font-size: 0;
    padding: 0;
}
/*thirdPage*/

/*fourthPage*/
#section3{
    background:url(../images/background/footerBg.png) no-repeat;
    background-position:center 85px;
    background-size:cover;
    position:relative;
}

/*footer*/
#footer{
    width:100%;
    text-align: center;
    position:absolute;
    bottom:0;
}
.footerTop{
    margin-bottom: -26px;
}
.footerTop h3{
    color:#e0b132;
    font-size:130px;
    font-family: "seoulhangang_smart_bregular";
    font-weight: bold;
    line-height: 125px;
    font-family: "HanNa11";
}

.footerInfo{
    background:#e0b132;
    padding:15px 0 10px 0;
}
.footerInfo ul{
    font-size:0;
    padding:10px 0 5px 0;
}
.footerInfo ul li{
    display:inline-block;
    font-size:13px;
    color:#2f2e34;
}
.footerInfo ul li:after{
    content:"";
    display:inline-block;
    width:6px;
    height: 6px;
    background:#2f2e34;
    margin:0 5px;
    margin-bottom: 3px;
    letter-spacing: 2px;
}
.footerInfo ul li:last-child:after{
    display:none;
}
.footerInfo p{
    padding:5px 0 15px 0;
    color:#2f2e34;
}
/*footer*/
/*fourthPage*/

/*container*/
/*END*/


/*media:568px*/
#rotation{
    display:none;
}
/*media:568px*/


















